body {
    font-family: Arial;
	
}

div.inner {
	text-align: left;
}

h1 {
font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
font-size: 40px;
color: white;
text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

h2 {
font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
color: white;
}